@model UserMicroservice.Models.User
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="container">
    <div class="row mt-lg-6">
        <div class="col-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5">
            <div class="text-center">
                <a class="text-light btn btn-primary font-weight-bold" asp-action="Register" asp-controller="Login">Sign Up</a>
            </div>
            <form class="form-horizontal" asp-action="Register">
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input type="text" asp-for="UserName" placeholder="Enter username" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="EmailId"></label>
                    <input type="text" asp-for="EmailId" placeholder="Enter EmailId" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" placeholder="Enter password" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="UserType"></label><br />
                    <select type="dropdown" name="usertype" id="usertype" style="padding-right:242px;padding-top:9px;padding-bottom:9px;">
                        <option value="">--Select Usertype--</option>
                        <option value="author">Author</option>
                        <option value="reader">Reader</option>
                        <option value="reader">Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary mb-2" value="Register" id="Register"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#Register").click(function () {
            window.location.href = "@Url.Action("Index", "Home")";
        });
    });
</script>



